.header {
    font-style: italic;
    color: #a12fff;
    font-size: 40px;
    text-align: center;
}
/* .row button {
    background-color: rgb(153, 0, 255);
    font-size: 20px;
} */
 button {
    background-color: rgb(47, 255, 116);
    color: black;
    font-size:15px;
    border-bottom: 1px solid #cccccc
    cursor: pointer;

}
body{
    font-family:'Times New Roman', Times, serif;
    background-color: aliceblue;
    text-align: center;
    padding: 25px;
}
input, select, button {
    width: 80%;
    padding: 10px;
    margin: 5px auto;
    border:1px solid #ccc
    border-radius: 5px;

}
#root {
 background: scroll;
 background-color: white;
 padding: 20px;
 margin: 20px auto;
 width: 300px;
}